{{/* Initialise */}}
{{ $ := .root }}
{{ $st := .page }}
{{ $year := now.Year}}

<div class="row">   
    <div class="col-lg-12">
      {{ with $st.Title }}<h1>{{ . | markdownify | emojify }}</h1>{{ end }}
      {{ with $st.Params.subtitle }}<p>{{ . | markdownify | emojify }}</p>{{ end }}
      {{ if lt now.Month 6 }}
      <h2>Betaling for foråret {{ $year}}</h2>
      {{ else }}
      <h2>Betaling for efteråret {{ $year}}</h2>
      {{ end }}
      {{ $st.Content }}
    </div>
    
    <select class="form-control col-lg-3" id ="kontigent-link" onchange="enable_tilmeld_btn()">
      <option disabled selected value="">Vælg hold...</option>
      <option value="https://www.conventus.dk/dataudv/www/new_tilmelding.php?foreningsid=10339&gruppe=631959&skjul_nyt_medlem=0&skjul_allerede_medlem=0&sprog=da">1. hold damer</option>
      <option value="https://www.conventus.dk/dataudv/www/new_tilmelding.php?foreningsid=10339&gruppe=631960&skjul_nyt_medlem=0&skjul_allerede_medlem=0&sprog=da">1. hold herrer</option>
      <option value="https://www.conventus.dk/dataudv/www/new_tilmelding.php?foreningsid=10339&gruppe=631961&skjul_nyt_medlem=0&skjul_allerede_medlem=0&sprog=da">2. hold damer</option>
      <option value="https://www.conventus.dk/dataudv/www/new_tilmelding.php?foreningsid=10339&gruppe=631962&skjul_nyt_medlem=0&skjul_allerede_medlem=0&sprog=da">2. hold herrer</option>
      <option value="https://www.conventus.dk/dataudv/www/new_tilmelding.php?foreningsid=10339&gruppe=631963&skjul_nyt_medlem=0&skjul_allerede_medlem=0&sprog=da">3. hold damer</option>
      <option value="https://www.conventus.dk/dataudv/www/new_tilmelding.php?foreningsid=10339&gruppe=631964&skjul_nyt_medlem=0&skjul_allerede_medlem=0&sprog=da">3. hold herrer</option>
      <option value="https://www.conventus.dk/dataudv/www/new_tilmelding.php?foreningsid=10339&gruppe=631965&skjul_nyt_medlem=0&skjul_allerede_medlem=0&sprog=da">4. hold damer</option>
      <option value="https://www.conventus.dk/dataudv/www/new_tilmelding.php?foreningsid=10339&gruppe=631967&skjul_nyt_medlem=0&skjul_allerede_medlem=0&sprog=da">5. hold damer</option>
      <option value="https://www.conventus.dk/dataudv/www/new_tilmelding.php?foreningsid=10339&gruppe=631968&skjul_nyt_medlem=0&skjul_allerede_medlem=0&sprog=da">6. hold damer</option>
      <option value="https://www.conventus.dk/dataudv/www/new_tilmelding.php?foreningsid=10339&gruppe=631969&skjul_nyt_medlem=0&skjul_allerede_medlem=0&sprog=da">7. hold damer</option>
      <option value="https://www.conventus.dk/dataudv/www/new_tilmelding.php?foreningsid=10339&gruppe=360643&skjul_nyt_medlem=0&skjul_allerede_medlem=0">Kvart kontigent (KUN efter aftale med bestyrelsen)</option>
    </select>
    <input class="btn btn-primary col-lg-2" type="button" id="tilmeld_btn" name="SUBMITBUTTON" onclick="got_to_payment()" value="Tilmeld" style="margin-left: 1em" disabled />
</div>
<script type = "text/javascript">
  function got_to_payment(){
      var urldata = $('#kontigent-link :selected').val(); // get the selected  option value
      if(urldata !== ''){
        window.open(urldata) // open a new window. here you need to change the url according to your wish.
      }
  }

  function enable_tilmeld_btn(){
    document.getElementById("tilmeld_btn").disabled = false;
  }
  
  
  </script>