
<div class="row" style="width:100%; justify-content: center; align-items: center">
    <a href="https://www.3f.dk/aalborg" style="margin: 1em; width: 900px" target="_blank" ><img src="img/sponsorer/3F.png" title="3F Aalborg"></a>
    <a href="https://www.sport24.dk/" style="margin: 1em; width: 400px" target="_blank" ><img src="img/sponsorer/Sport24.png" title="Sport24"></a>
    <a href="https://www.hummel.dk/" style="margin: 1em; width: 400px" target="_blank" ><img src="img/sponsorer/HUMMEL.png" title="Hummel"></a>
    <a href="https://www.multiform.dk/butikker/aalborg" style="margin: 1em; width: 400px" target="_blank" ><img src="img/sponsorer/multiform.png" title="multiform" style="width: 200px"></a>
    <a href="https://www.ok.dk/privat/ok-og-sporten" style="margin: 1em; width: 400px" target="_blank" ><img src="img/sponsorer/OK.png" title="OK Benzin"></a>
</div>
